@font-face {
  font-family: 'Press Start 2P';
  src: url('/fonts/PressStart2P.ttf');
}

@font-face {
  font-family: Uranus;
  src: url('/fonts/Uranus.ttf');
}

@font-face {
  font-family: Pretendo;
  src: url('/fonts/Pretendo.ttf');
}

body {
  font-family: 'Press Start 2P', 'Uranus', 'Arial', sans-serif;
  font-size: 14px;
}
